# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

dist/
test-results/

node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/.secrets
**/.env
**/*.generated.template.json
**/*.generated.json
**/*.DS_Store
**/bin
**/obj

yarn-error.log
