# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
.gitattributes
.github
.prettierignore
LICENSE
yarn.lock
.dockerignore
.shellcheckrc
.helmignore
copyright-header.txt

**/*.code-workspace
**/Dockerfile
**/*.Dockerfile
**/.gitignore
test-results/
**/obj/
**/bin/
**/*.dat
**/*.png
**/*.sh
**/*.pbix
dist/
**/*.code-workspace
**/*.env
**/.env.*
**/yarn-*.log
**/*.ts.snap
**/.DS_Store
**/.funcignore
**/extensions.csproj
**/*.ps1
**/*.tpl
**/*.yaml
.yarn/
