# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
enable=add-default-case
enable=avoid-nullary-conditions
enable=check-unassigned-uppercase
enable=quote-safe-variables
enable=require-variable-braces
